.container{
    color: white;
    background-color: grey;
    padding: 10px;
    font-size: medium;
}
.article{
    color: aqua;
    background-color: gray;
    text-align: center;
}
.article h3{
    text-align: center;
}
.git-push-prompt{
    font-weight: bold;
    font-size: larger;
    font-family: sans-serif;
    /* text-align: center */
    background-color: black;
    color: white;
    padding: 12px;
}
